<!DOCTYPE html>
<html>
  <head>
    <title>DUCSS Freshers Week</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}base/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/css/freshers.css">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="wrapper">
          <a href="/"><img src="{{ STATIC_URL }}base/images/nav-logo.png" alt="DUCSS" id="logo" /></a>

          <ul class="nav">
            <li><a href="http://twitter.com/ducss" id="twitter"></a></li>
            <li><a href="https://www.facebook.com/ducss.ie" id="facebook"></a></li>
            <li><a href="{% url home %}">Continue to site &rarr;</a></li>
          </ul>
        </div>
      </header>

      <div id="body" class="wrapper">
        <section id="freshers">
          <h1>Freshers Week 2014</h1>
          <p>
            We're going to be hosting an action-packed Trinity Freshers Week 2014! Whether you're interested in <strong>games</strong>, <strong>social events</strong> (the pub!) or just <strong>chilling out</strong> in between your Freshers Week orientation we have something for you!
          </p>
          <p>
            To join DUCSS find us at Front Square any time during Freshers Week which is September 15th-19th! For more info on DUCSS as well as our events check out our <a href="https://www.facebook.com/events/1511624179081064/">Facebook event</a> and our <a href="https://facebook.com/ducss.ie">Facebook page</a>.
          </p>
          <div class="row">
            <div class="col games">
              <img src="{{ STATIC_URL }}base/images/figure-games.png" width="200" height="200">
              <h2>Games</h2>
              <p>
                Everyday of the week we're going to be running a games tournament in our room in the <strong>Hamilton Building</strong>. There will be daily prizes awarded to our champions with our Friday Mario Kart tournament being the highlight of the week! Friday's grand prize is a gift set generously provided by <a href="https://www.facebook.com/LushDublin">Lush</a>.
              </p>
              <br>
              <p class="get-over-there">
                The schedule looks a little like this:
                <ul>
                  <li>Mon 4PM: Soulcalibur V</li>
                  <li>Tue 4PM: Halo</li>
                  <li>Wed 4PM: Mario Party 8</li>
                  <li>Thu 1PM: Super Smash Bros.</li>
                  <li>Fri 2PM: Mario Kart</li>
                </ul> 
              </p>
            </div>
            <div class="col">
              <img src="{{ STATIC_URL }}base/images/figure-social.png" width="200" height="200">
              <h2>Social Outings</h2>
              <p>
                It wouldn't be Freshers Week without a night out or two!
              </p>
              <br>
              <p>
                <strong>Wednesday</strong> night takes us to Trinity's famous student bar, <a href="https://www.google.ie/maps/place/The+Pavilion/@53.3427375,-6.2543638,17z/data=!4m5!1m2!2m1!1sthe+pavilion!3m1!1s0x0:0xd1588865b504faa6">The Pavilion (Pav)</a>. We'll be meeting there at <strong>8PM</strong> for drinks and then we'll be heading on to <a href="https://www.facebook.com/events/622453231209770/">"Somewhere?" at Workman's Club</a> from <strong>10:30</strong> till late. DUCSS card-holders get discounted entry and there are drinks promotions all night.
              </p>
              <br>
              <p>
                <strong>Thursday</strong> evening we'll be going to <a href="https://www.google.ie/maps/place/O'Neills+Victorian+Pub+and+Townhouse/@53.3438481,-6.2478605,15z/data=!4m5!1m2!2m1!1so'neills+pearse+street!3m1!1s0x0:0x2e472fea6eb84dd2">O'Neill's pub</a> on Pearse Street from 6PM for drinks and bonding. We'll be laying on plenty of free finger food to feast on and it'll be a great night to hang out with all of our new 2014/15 members.
              </p>
            </div>
            <div class="col">
              <img src="{{ STATIC_URL }}base/images/figure-room.png" width="200" height="200">
              <h2>Room</h2>
              <p>
                Freshers Week can get a little hectic with so much to do and see around campus! For that reason our <strong>room in the Hamilton Building</strong> will be open all week so you can <strong>rest</strong> up on one of our couches or check out our <strong>gaming-spec PCs</strong>. This also helps as a way to get to know new people in computer science and <strong>hang out</strong> with those in your year!
              </p>
              <br>
              <p>
                <strong>Directions</strong> to the DUCSS room can be found on the back of your membership card or you can ask one of our lovely committee members (we'll be wearing DUCSS t-shirts) in <strong>Front Square</strong>.
              </p>
            </div>
          </div> 
        </section>
      </div>

      <footer> 
        <div class="wrapper">
          <div class="col">
            <a href="#" class="back-to-top">Back To Top</a>
          </div>
          <div class="col">
            <div id="social">
              <a href="http://twitter.com/ducss" id="twitter"></a>
              <a href="https://www.facebook.com/ducss.ie" id="facebook"></a>
            </div>
          </div>
          <div class="col">
            <img src="{{ STATIC_URL }}base/images/footer-logo.png" id="logo" />
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>