{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body_html %}
    <section id="events">
        <h1>Upcoming Events</h1>

        
        {% for event in events %}
            {% cycle '<div class="row">' '' %}
                <div class="col">
                    <div class="event">
                        <div class="date">
                            <span class="day">{{ event.date.day }}</span>
                            <span class="month">{{ event.date|date:"b" }}</span>
                        </div>
                        <div class="info">
                            <h3><a href="{% url event_clean event.slug %}">{{ event.title }}</a></h3>
                            <span>{{ event.location }}</span>
                            <span>{{ event.time }}</span>
                        </div>
                    </div>
                    {{ event.description|truncatewords_html:30|safe }}
                </div>
            {% cycle '' '</div>' %}
        {% endfor %}

        <div class="more-events">
            <a href="/events/all">More events...</a>
        </div>
    </section>

    <section id="services">
        <h1>Our Services</h1>

        {% for service in services %}
            <div class="service">
                {% if forloop.counter|divisibleby:2 %}
                    <div class="left">
                       <h2>{{ service.title }}</h2>
                       {{ service.description|safe }}
                    </div>
                    <figure class="right">
                        <img src="{{ STATIC_URL }}{{ service.image }}" alt="{{ service.title|lower }}" />
                    </figure>
                {% else %}
                    <figure class="left">
                        <img src="{{ STATIC_URL }}{{ service.image }}" alt="{{ service.title|lower }}" />
                    </figure>
                    <div class="right">
                       <h2>{{ service.title }}</h2>
                       {{ service.description|safe }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>

    <section id="contact">
        <h1>Contact Us</h1>

        {% crispy contact_form %}
    </section>
{% endblock %}