<!DOCTYPE html>
<html>
  <head>
    <title>DUCSS Pok&eacute;mon Tournnament</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}base/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}base/css/pokemon.css">
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <h1>DUCSS Pok&eacute;mon Tournament</h1>
      </div>
      <div id="body" class="wrapper">
        <img src="http://img.pokemondb.net/artwork/mudkip.jpg" width="110">
        <img src="http://img.pokemondb.net/artwork/torchic.jpg" width="90">
        <img src="http://img.pokemondb.net/artwork/treecko.jpg" width="150">
        <p>
          This <strong>Wednesday</strong>, at 6pm in <strong>East End Lab 3</strong>, DUCSS are having a Pok&eacute;mon Tournament!
        </p>
        <p>
          For the tournament we'll be using <a href="http://pokemonshowdown.com/">Pok&eacute;mon Showdown</a> simulator, with two separate competitions, one using <a href="http://www.smogon.com/dex/xy/tags/ou">Smogon OU</a> tier, the other will be randomised battles. Feel free to enter both!
        </p>
        <p>
          We have some very nifty <strong>prizes</strong> for winners of these competitions, copies of <strong>Pok&eacute;mon: Omega Ruby and Alpha Sapphire</strong> for the 3DS!
        </p>
      </div>
      <a class="button-link" href="https://docs.google.com/forms/d/1JaqBIjl9v35JScFqU1H8ym61-nbh9ivI2_0GE_aVtBE/viewform">SIGN UP NOW!</a>
    </div>
  </body>
</html>
