{% extends 'base/base.html' %}

{% block body_html %}
    <section id="events">
        <h1>Upcoming Events</h1>

        <div class="row">
            {% for event in events %}
                <div class="col">
                    <div class="event">
                        <div class="date">
                            <span class="day">{{ event.date.day }}</span>
                            <span class="month">{{ event.date|date:"b" }}</span>
                        </div>
                        <div class="info">
                            <h3>{{ event.title }}</h3>
                            <span>{{ event.location }}</span>
                            <span>{{ event.time }}</span>
                        </div>
                    </div>
                    <p>{{ event.description|truncatewords:30 }}</p>
                </div>
            {% endfor %}

            <a href="/events/all">More events...</a>
        </div>
    </section>

    <section id="services">
        <h1>Our Services</h1>

        <div class="service">
            <div class="left">
               <h2>Events</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit   esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est    laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim</p>
            </div>
            <figure class="right">
                <img src="{{ STATIC_URL }}home/images/figure-events.png" alt="Events" />
            </figure>
        </div>
        <div class="service">
            <figure class="left">
                <img src="{{ STATIC_URL }}home/images/figure-servers.png" alt="Servers" />
            </figure>
            <div class="right">
                <h2>Servers</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit   esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est    laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim</p>
            </div>
        </div>
        <div class="service">
            <div class="left">
               <h2>Our Room</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit   esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est    laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim</p>
            </div>
            <figure class="right">
                <img src="{{ STATIC_URL }}home/images/figure-room.png" alt="Room" />
            </figure>
        </div>
    </section>

    <section id="contact">
        <h1>Contact Us</h1>

        <form action="">
            <input type="text" name="name" placeholder="Name" /><br />
            <input type="text" name="email" placeholder="Email" /><br />
            <textarea rows="7" placeholder="Enter Message Here..."></textarea><br />
            <button>Send</button>
        </form>
    </section>
{% endblock %}