html {
	background: #eaeaea;

	background: radial-gradient(circle closest-corner at center top, #FFFFFF 0%, #EAEAEA 50%) no-repeat;

	background: -webkit-radial-gradient(center top, circle closest-corner, #FFFFFF 0%, #EAEAEA 50%) no-repeat;
	background:    -moz-radial-gradient(center top, circle closest-corner, #FFFFFF 0%, #EAEAEA 50%) no-repeat;
	background:     -ms-radial-gradient(center top, circle closest-corner, #FFFFFF 0%, #EAEAEA 50%) no-repeat;
	background:      -o-radial-gradient(center top, circle closest-corner, #FFFFFF 0%, #EAEAEA 50%) no-repeat;
	
	min-height: 100%;
}

body {
	font-family: 'PT Sans', sans-serif;
}

.logo {
	margin: 40px auto;
	width: 250px;
}

.textBody {
	margin: 60px auto;
	max-width: 550px;
	text-align: justify;
}

hr {
	height:1px;
	color: #d3d2d1;
	border: none;
	background-color: #d3d2d1;
}

p {
	font-size: 1.2em;
	line-height: 28px;
}

a {
	color: #ff8b0f;
}

::selection {
	color: #2d2d2d;
	text-shadow:none;
	background-color: #ff8b0f;
}

::-moz-selection {
	color: #2d2d2d;
	text-shadow:none;
	background-color: #ff8b0f;
}
